.item{
   width: 40%;
   border: 1px solid gray;
   display: flex;
   gap: 5px;
}
.item img{
    width: 50%;

}
.productInfo{
    display: flex;
    flex-direction: column;
}
button{
    background-color:rgb(244, 217, 186) ;
    border: none;
    height: 30px;
    margin: 5px;
}

/* *{outline: 1px solid red;} */